[submodule "gcv"]
	path = gcv
	url = https://github.com/legumeinfo/gcv
	branch = add-playwright-testing
[submodule "microservices"]
        branch = macro-synteny-paf
	path = microservices
	url = https://github.com/legumeinfo/microservices
